.offerHeaderContainer {
    width: 100%;
    height: fit-content;
    background-color: var(--background);
    box-sizing: border-box;
    padding: 80px 40px 20px 40px;
}

.offerHeaderInput {
    width: 100%;
    height: 48px;
    border: 1px solid var(--border);
    border-radius: 5px;
    margin-top: 40px;
    background-color: var(--background);
    display: flex;
    align-items: center;
}

.offerHeaderInput>input {
    flex: 1;
    height: 96%;
    border: none;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 15px;
    font-weight: var(--semibold);
    color: var(--primary);
}

.offerHeaderInput>input::placeholder {
    font-weight: var(--semibold);
    color: var(--primary);
}

.searchIcon {
    margin: auto 15px;
    font-size: 22px;
    color: var(--primary);
}

.offerHeaderIcon {
    width: 60px;
    height: 100%;
    border-radius: 0 5px 5px 0;
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary);
    font-size: 24px;
    cursor: pointer;
}

.offerHeaderTitleContainer {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.offerHeaderTitle>p:nth-child(1) {
    margin: 0;
    color: var(--primary);
    font-weight: var(--medium);
}

.offerHeaderTitle>p:nth-child(2) {
    margin: 10px 0 0 0;
    color: var(--subheader);
    font-weight: var(--medium);
    font-size: 15px;
}

.offerHeaderOrderBy {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 1px solid var(--border);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 4px 6px 6px 4px;
}

.offerHeaderOrderBy>select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: var(--primary);
    cursor: pointer;
    font-weight: var(--semibold);
}