.reservationContainer {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 120px 280px 60px 280px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
}

.reservationForm {
  width: 50%;
  height: 100%;
  background-color: var(--background);
}

.reservationForm > p {
  color: var(--subheader);
  font-size: 14px;
  margin-top: 6px;
}

.reservationForm > p > span {
  color: var(--primary);
  font-weight: var(--medium);
  text-decoration: underline;
  cursor: pointer;
}

.form {
  width: 100%;
  position: relative;
}

.form > p {
  color: var(--text);
  font-size: 15px;
  max-width: 100%;
  font-weight: var(--medium);
}

.form > div {
  margin-bottom: 0px;
}

.textArea {
  width: 100%;
  resize: none;
  min-height: 200px;
  border-radius: 5px;
  border: 1px solid var(--border);
  box-sizing: border-box;
  padding: 10px;
  font-weight: var(--medium);
  outline: none;
}

::placeholder {
  font-weight: var(--medium);
}

.termsAndConditions {
  margin: 6px 0 80px 0;
}

.cta {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 12px 30px;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--white);
}
