.reserveTrailer {
    width: 38%;
    margin: 6.8% 0 0 5%;
    min-height: 300px;
    height: fit-content;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.reserveTrailerHeader {
    display: flex;
}

.reservationTrailerImg {
    width: 42%;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.reserveTrailerHeader>div>p {
    margin-left: 15px;
    font-family: open_sans_bold;
}

.reservationTrailerLocation {
    display: flex;
    align-items: center;
    margin: 8px 0 0 16px;
    color: #747474;
    font-size: 14px;
}

.reservationTrailerDate {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.reservationTrailerDate>p {
    margin-left: 10px;
    font-family: open_sans_semibold;
    font-size: 14px;
}

.reservationFlex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
    font-family: open_sans_medium;
}

.reservationFlex>p:nth-child(2) {
    color: black;
    font-family: open_sans_semibold;
}

.reservationTotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #EE7B46;
    font-family: open_sans_bold;
}