.formStepContainer {
  display: flex;
  flex-direction: column;
  animation: slide-in 1s ease;
  position: relative;
  margin: 0 auto;
  width: 40%;
  box-sizing: border-box;
  padding-bottom: 120px;
}

@keyframes slide-in {
  0% {
    top: -50px;
    opacity: 0;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}

.formStepContainer>h2 {
  margin: 50px 0 0 0;
  color: var(--text);
  font-size: 32px;
}

.formStepContainer>p {
  color: var(--subheader);
  margin-top: 10px;
  max-width: 84%;
  font-size: 16px;
}

.licenseGrid {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.licenseGridItem,
.licenseGridItemActive {
  width: 94%;
  height: fit-content;
  border: 1px solid var(--border);
  border-radius: 8px;
  display: flex;
  box-sizing: border-box;
  padding: 24px;
  position: relative;
  transition: 0.2s ease;
  cursor: pointer;
  margin-top: 15px;
  align-items: center;
}

.licenseGridItem>div,
.licenseGridItemActive>div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  max-width: 88%;
}

.licenseGridItemText>b {
  font-weight: var(--semibold);
  font-size: 15px;
}

.licenseGridItemText>p {
  font-size: 14px;
  color: var(--subheader);
  margin-top: 4px;
  font-weight: var(--medium);
}


.licenseGridItemActive {
  border: 1.8px solid var(--text);
}

.licenseGridItem:hover {
  border: 1.8px solid var(--text);
  cursor: pointer;
  transition: 0.2s ease;
}

.licenseIcon {
  font-size: 24px !important;
}