.textArea {
  width: 100%;
  height: 230px !important;
  border: 1.8px solid var(--text);
  padding: 20px;
  color: #222222;
  font-weight: var(--medium);
  font-size: 16px;
  margin-top: 40px;
  transition: 0.3s ease;
  border-radius: 8px !important;
}

.textArea::placeholder {
  color: var(--text);
  font-weight: var(--medium);
  font-size: 16px;
}