.trailerTypeGrid {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;
  column-gap: 4px;
  margin-top: 40px;
  row-gap: 20px;
}

.trailerTypeIcon,
.trailerTypeIconLast,
.trailerTypeIconActive {
  width: 100%;
  height: 110px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center;
  justify-content: center; */
  border-radius: 8px;
  border: 1px solid var(--border);
  transition: 0.2s ease;
  position: relative;
  box-sizing: border-box;
  padding: 15px;
}

.trailerTypeIconActive {
  border: 1.8px solid var(--text);
  color: var(--text) !important;
  transition: none;
}

.trailerTypeIcon:hover {
  cursor: pointer;
  border: 1.8px solid var(--text);
  transition: 0.2s ease;
}

.trailerTypeIcon>p,
.trailerTypeIconActive>p {
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  max-width: 80%;
  margin-top: 10px;
}

.trailerTypeIconActive>p {
  color: var(--text);
}

.trailerTypeIconLast {
  border: 1.8px solid var(--primary);
  cursor: pointer;
}

.trailerTypeIconLast>p {
  text-align: left;
  font-size: 14px;
  font-weight: var(--medium);
  max-width: 80%;
  margin-top: 10px;
  color: var(--primary);
}

.iconImage {
  width: 50px;
  height: 50px;
  background-image: url(../../../data/svg/icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.infoIcon {
  position: absolute !important;
  top: 5px;
  right: 5px;
  padding: 5px !important;
  font-size: 18px !important;
  color: var(--primary) !important;
}

.trailerInfoContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 98;
  background-color: none;
}

.trailerTypeInfoContainer {
  width: 20%;
  height: fit-content;
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 15px 15px 25px 15px;
  display: flex;
  flex-direction: column;
  animation: slide 0.3s ease;
}

.trailerTypeInfoImage {
  width: 100%;
  height: 190px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.trailerTypeInfoContainer>p {
  font-weight: var(--bold);
  font-size: 14px;
  margin-top: 15px;
  color: var(--primary);
}

.trailerTypeInfoContainer>p:nth-child(3) {
  font-weight: var(--medium);
  margin-top: 8px;
  color: var(--text);
}

.closeBtn {
  margin: 10px auto 0 auto;
  color: var(--primary);
  background-color: transparent;
  text-decoration: underline;
  font-weight: var(--medium);
}

.closeBtn:hover {
  font-weight: var(--semibold);
}