.detailMapContainer {
  width: 98%;
  height: 240px;
  background-color: var(--background);
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid var(--border);
}

.detailMapComment {
  margin-top: 8px !important;
  color: var(--subheader);
  font-size: 13px !important;
  font-weight: var(--medium);
}
