.popUpContainer > p:nth-child(1) {
  font-size: 28px;
  margin: 45px auto 0 auto;
  max-width: 60%;
  text-align: center;
}

.popUpContainer > p > span {
  color: var(--primary);
  font-weight: var(--semibold);
}

.primaryInput {
  width: 80%;
  margin: 30px auto 0 auto !important;
  outline: none !important;
}

.popUpContainer > p:nth-child(3) {
  margin: 10px 0 0 10%;
  text-align: left;
  max-width: 76%;
  font-size: 14px;
  color: var(--subheader);
}

.line {
  width: 80%;
  height: 1px;
  background-color: var(--border);
  margin: 50px auto;
  display: flex;
  align-items: center;
  position: relative;
}

.line > p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background);
  padding: 2px 18px;
  font-weight: var(--bold);
  color: var(--subheader);
}

.alternateLoginBtn {
  width: 80%;
  margin: 8px auto;
  height: 44px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkBackground);
  color: var(--background);
  cursor: pointer;
  font-weight: var(--medium);
  font-size: 15px;
}

/* -------------------------------------------------------- */

.loginContent {
  display: flex;
  flex-direction: column;
  animation: inputAppear 0.6s ease;
}

.loginContent > p {
  color: var(--subheader);
  margin-left: 10%;
  font-size: 14px;
  margin-top: 10px;
}

.loginContent > p > span {
  color: var(--primary);
  cursor: pointer;
}

.loginContent > p > span:hover {
  text-decoration: underline;
}

.loginCta {
  width: 40%;
  margin: 30px auto 0 auto;
  padding: 15px 0;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--white);
}

@keyframes inputAppear {
  0% {
    opacity: 0;
    margin-top: 30px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

/* -------------------------------------------------------- */

.registerContent {
  display: flex;
  flex-direction: column;
  animation: inputAppear 0.6s ease;
}

.flexBox {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto 0 auto;
}

.registerItem {
  width: 80%;
  margin: 0 auto;
}

.inputItem > p,
.registerGrid > p,
.registerItem > p,
.flexBox > div > p {
  margin: 20px 0 10px 0;
  font-weight: var(--medium);
  font-size: 14px;
}

.secondaryInput {
  width: 100%;
  background-color: var(--background);
}

.addressInput {
  display: grid;
  grid-template-columns: 32% 22% 40%;
  column-gap: 3%;
}

@keyframes slide {
  0% {
    top: 130%;
  }
  100% {
    top: 50%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
